body {
  background-image: url("https://chiragchamria.com/images/chirag-chamria-best_dentist_near_you.webp");
  background-size:1500px ;/* Cover the entire header area */
  
  
     background-repeat: no-repeat;
    
  
}
/*Heading custom css */
.navbar {
    padding: 1rem; /* Padding for the navbar */
}

.navbar-brand {
     color: #fff;; /* Change text color for the brand */
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}



.navbar-nav .nav-link:hover {
    color:white/* Add underline on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center; /* Center the nav items on mobile */
    }
}
/*Heading custom css */

/*------------ Form custom css -------------------*/

.contact-form {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
 

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  color: white;
  margin-left: 162px;
}

.contact-form h2::before, .contact-form h2::after {
  content: "";
  width: 30%;
  height: 0.5px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contact-form h2::before {
  left: 0;
}

.contact-form h2::after {
  right: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  padding: 15px;
  border: 1px solid #ccc;

}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:370px;
}


button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
/*--------------------------------*/

/*-------------- Dr. Chirag Chamria, Oral & Maxillofacial Surgeon (A32086) custom css ------------------*/
  .first-section {
  background-color: #ff214f;
  padding: 20px;
  text-align: justify;
}

.first-section h6, .first-section h3, .first-section p {
  text-align: left;
}

.h6six {
  font-size: 18px;
  margin-bottom: 10px;
}

.h3three {
  font-size: 24px;
  margin-bottom: 20px;
}

.para {
  font-size: 16px;
  margin-bottom: 20px;
}
/*--------------------------------*/

/*--------------------------------*/
.zygomatic-implant-section {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 40%;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content-container1 {
  width: 60%;
  background-color: black; 
  color:White;
  text-align: justify;
}

.content-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.content-container p {
  margin-bottom: 20px;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .zygomatic-implant-section {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    margin-right: 0;
  }
  .content-container {
    width: 100%;
  }
}
/*--------------------------------*/


/*--------------------------------*/
   .dental-implant-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.content-container {
  width: 60%;
  background-color: #ff214f; /* Purple background color */
  padding: 20px;
 

}

.content-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White text color */
}

.content-container p {
  text-align: justify;
  margin-bottom: 20px;
  color: #fff; /* White text color */
}

.image-container {
  width: 40%;
  margin-left: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/*----------- --------------------*/

/*----------- --------------------*/
.biography-section {
  background-color: #ffffff;
  padding: 20px;
}

.biography-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.legacy-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.appointment-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.facility-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.biography-section p {
  margin-bottom: 20px;
  text-align: justify;
}

.biography-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.biography-section li {
}

.biography-section li:before {
  content: "\2022";
  margin-right: 10px;
  color: #666;
}

@media only screen and (max-width: 768px) {
  .biography-section {
    padding: 10px;
  }
  .biography-section p {
    margin-bottom: 15px;
  }
  .biography-section ul {
    padding-left: 20px;
  }
}
/*----------- --------------------*/
.qualification-section1 {
  background-color: #ff214f;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; /* added to center the content */
}

.qualification-heading1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.qualification-section1 p {
  margin-bottom: 20px;
  text-align: justify;
  color: #ffffff;
}
/*----------- --------------------*/

/*----------- --------------------*/

.qualification-section {
  padding: 20px;
  text-align: center;
  background-color: White;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  text-align: left;
}

.year-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;

}

.purple-heading {
  color: #7A288A;
}

.qualification-paragraph {
  margin-bottom: 20px;
  text-align: justify;
}

.bold-paragraph {
  font-weight: bold;
}

.qualification-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qualification-list li {
  margin-bottom: 10px;
}

.qualification-list li i {
  margin-right: 10px;
  color: #7A288A;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/*----------- --------------------*/

  .smile-design-section {
  background-color: #f7f7f7;
  padding: 20px;
}

.smile-design-paragraph {
  margin-bottom: 20px;
  text-align: justify;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .smile-design-paragraph {
    margin-bottom: 15px;
  }
}


/*----------- --------------------*/

/*----------- heading 9 --------------------*/
.innovation-section {
  background-color: #000;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.innovation-heading {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.innovation-subheading {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.innovation-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.innovation-content {
  text-align: center;
}

.innovation-paragraph {
  margin-bottom: 20px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .innovation-section {
    padding: 10px;
  }
  .innovation-heading {
    font-size: 24px;
  }
  .innovation-subheading {
    font-size: 18px;
  }
  .innovation-image {
    height: 150px;
  }
  .innovation-content {
    padding: 10px;
  }
  .innovation-paragraph {
    margin-bottom: 15px;
  }
}
/*----------- --------------------*/


/*----------- --------------------*/
  .form-section1{
  margin-top: 360px;
  background-color: White;
}

.form-heading {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.form-heading::before, .form-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top: 1px dashed #ccc;
  width: 40%;
}



.form-group {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
}



.submit-button {
  display: inline-block;
  margin-left: 620px;
  vertical-align: middle;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/*----------- --------------------*/


/*----------- --------------------*/
.qualification-section2 {
  background-color: #ff214f;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; /* added to center the content */
}

.qualification-heading1 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.qualification-section1 p {
  margin-bottom: 20px;
  text-align: justify;
  color: #ffffff;
}


/*----------- --------------------*/

  .smile-design-section1 {
  background-color: White;
  padding: 20px;
}

.smile-design-paragraph {
  margin-bottom: 20px;
  text-align: justify;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .smile-design-paragraph {
    margin-bottom: 15px;
  }
}


/*----------- --------------------*/
/*----------- --------------------*/
/* Style the slider container */


/* Style the slider wrapper */

/*----------- --------------------*/
 ul.a {
  list-style-position: outside;
}
/*----------- --------------------*/

/*footer css*/
  .footer {
  position: relative;
  width: 100%;
  height: 200px; /* You can adjust the height as needed */
  background-color: #000;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .footer {
    height: 150px; /* You can adjust the height as needed */
  }
}

/* Media Query for even smaller screens */
@media (max-width: 480px) {
  .footer {
    height: 100px; /* You can adjust the height as needed */
  }
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
 
  padding: 10px;
}
.grid-item {
  
 
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* Media Query for smaller screens */

/*footer css*/
